.simulation{
    width: 100%;
    margin-bottom: 100px;
    height: 740px;
    padding: 5px;
    border: 5px solid #3E4879;
}

.simulation_info{
    background-color: #3E4879;
    padding: 25px;
    margin-bottom: 125px;

    border-radius: 15px;

}
