.stem-with-us{
  background-image: url('../../imgs/StemWithUs/space.png');
  background-size: contain;
  background-repeat:space;
}

.calendario{
}

.eventos{
  display: flex;
  flex-wrap: wrap;
}

.section-formulario{
  display: flex;
  justify-content: center;
}