.stem-with-us{
  background-image: url('../../imgs/StemWithUs/space.png');
  background-size: contain;
  background-repeat:space;
}

.eventos{
  display: flex;
  flex-wrap: wrap;
}

section{
  margin-top: 50px;
  margin-bottom: 50px;

}

.section-formulario{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.astronautStem{
  width: 300px;
  height: 350px;
}

section .tutorialsLine-top{
  display: flex;
  justify-content: space-between;
}

section .tutorialsLine-top p{
  text-decoration: none;
  color: #2A7AE4;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
}

section .tutorialsLine{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media screen and (max-width: 900px) {
  .astronautStem{
    display: none;
  }
  .calendario{
    height: 350px;
  }
}