html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.grid {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px; 
    height: 900px;
    padding: 30px;
}


#item-0 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    border-radius: 40px;
    background-image: linear-gradient(180deg, rgba(64, 209, 255), rgba(23, 26, 43));
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: span 7;
    grid-column-end: 5;
    position: relative; 
    height: 400px; 
}

.astronaut-image {
    position: absolute; 
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 600px; 
}

#item-0 h1 {
    margin: 0; /* Remove default margin */
    padding: 60px; /* Add padding to separate text from edges */
    color: white; /* Set text color */
    font-weight: bold;
    text-align: left;
    flex: 1;
    position: relative;
}

#item-2 h1 {
    font-size: 34px;
    margin: 0;
    padding: 40px;
    color: white;
    font-weight: 525;
    flex: 1;
    position: relative;
    cursor: pointer;
}


#item-0 h4 {
    position: absolute; 
    top: 40px; 
    left: 50px; 
    width: 100%; 
    text-align: left; 
    padding: 5px 10px; 
    border-radius: 5px; 
    font-size: 14px; 
    margin: 0; 
    z-index: 1; 
    font-weight: bold;
    font-size: 20px;
}

#item-1 {
    border-radius: 40px;
    background-color: rgb(28, 31, 50);
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 3;
    height: 335px; /* Altura máxima del div */
    position: relative;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    overflow: hidden; /* Evita que la imagen se salga del div */
}

.group-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
}

#item-2 {
    border-radius: 40px;
    background-color: rgb(28, 31, 50);
    grid-row-start: 3;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}


#item-2 img {
    object-fit: cover; /* Ensure the image covers the div without stretching */
}


#item-3 {
    border-radius: 40px;
    background-color: rgb(28, 31, 50);
    grid-row-start: 3;
    grid-column-start: 4;
    cursor: pointer;
    grid-row-end: 3;
    grid-column-end: 5;
}


/* Media query for mobile view */
@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 20px; 
    }

    .group-picture {
        border-radius: 25px;
    }

    #item-0 h4 {
        display: none;
    }

    #item-0 h1 {
        font-size: 18px; 
    }

    #item-0 {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: span 1;
        grid-column-end: span 2;
        height: auto;
        border-radius: 25px;
    }

    #item-1 {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 3;
        height: auto;
        border-radius: 25px;
    }

    #item-2 {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-row-end: 4;
        grid-column-end: 2;
        border-radius: 25px;
    }

    #item-3 {
        grid-row-start: 3;
        grid-column-start: 2;
        grid-row-end: 4;
        grid-column-end: 3;
        border-radius: 25px;
    }

    .astronaut-image {
        display: none; 
    }
}

/* Media query for smaller screen sizes */
@media (max-width: 1500px) {
    .astronaut-image {
        display: none; 
    }

    #item-0 h1 {
        text-align: center; 
        padding: 0; 
        display: flex; 
        align-items: center; 
        justify-content: center; 
    }

    #item-0 h4 {
        display: none;
    }
}

#pre-game-div {
    display: flex;
    justify-content: center; 
    text-align: center;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: span 7;
    grid-column-end: 5;
    position: relative; 
    height: 100px; 
}

#container {
    text-transform: uppercase;
    font-size: 38px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 25%;
    display: block;
}
  
  #flip {
    height: 50px;
    overflow: hidden;
  }

  #flip > div > div {
    color:#fff;
    padding:1px 12px;
    height:55px;
    margin-bottom:35px;
    display:inline-block;
  }
  
#flip div:first-child {
    animation: show 5s linear infinite;
  }
#flip > div:nth-child(1) > div {
    background: #42c58a; /* Color for the first div */
  }
  
#flip > div:nth-child(2) > div {
    background: #4274c5; /* Color for the second div */
  }
  
#flip > div:nth-child(3) > div {
    background: #3234a0; /* Color for the third div */
  }

  
  @keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
  }


body .home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #232427;
}

body .container-areas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px 0;
}

#areas{
    display: flex;
    justify-content: center;
}

body .container-areas .card {
  position: relative;
  min-width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
}

body .container-areas .card:nth-child(1) .box .content a {
  background: #2196f3;
}

body .container-areas .card:nth-child(2) .box .content a {
  background: #1a8714;
}

body .container-areas .card:nth-child(3) .box .content a {
  background: #2348c1;
}

body .container-areas .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: rgb(38, 43, 71);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

body .container-areas .card .box:hover {
  transform: translateY(-50px);
}

body .container-areas .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

body .container-areas .card .box .content {
  padding: 20px;
  text-align: center;
}

body .container-areas .card .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
}

body .container-areas .card .box .content h3 {
  font-size: 1.8rem;
  color: #fff;
  font-weight: bold;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

body .container-areas .card .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}

body .container-areas .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
body .container-areas .card .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}

/* Timeline Styles */
.timeline {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 700px;
  position: relative;
}

.timeline__content-title {
  font-weight: normal;
  font-size: 66px;
  margin: -10px 0 0 0;
  transition: .4s;
  padding: 0 10px;
  box-sizing: border-box;
  color: #fff;
}

.timeline__content-desc {
  margin: 0;
  font-size: 15px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, .7);
  font-weight: normal;
  line-height: 25px;
}

.timeline:before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  content: "";
  background: rgba(255, 255, 255, .07);
}

.timeline-item {
  padding: 40px 0;
  opacity: .3;
  filter: blur(2px);
  transition: .5s;
  box-sizing: border-box;
  width: calc(50% - 40px);
  display: flex;
  position: relative;
  transform: translateY(-80px);
}

.timeline-item:before {
  content: attr(data-text);
  letter-spacing: 3px;
  width: 100%;
  position: absolute;
  color: rgba(255, 255, 255, .5);
  font-size: 13px;
  border-left: 2px solid rgba(255, 255, 255, .5);
  top: 70%;
  margin-top: -5px;
  padding-left: 15px;
  opacity: 0;
  right: calc(-100% - 56px);
}

.timeline-item:nth-child(even) {
  align-self: flex-end;
}

.timeline-item--active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0px);
}

.timeline__img {
  max-width: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .4);
  border-radius: 25px;
}

.timeline-container {
  width: 100%;
  position: relative;
  padding: 80px 0;
  transition: .3s ease 0s;
  background-attachment: fixed;
  background-size: cover;
}

.timeline-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(23, 26, 43, .8);
  content: "";
}

.timeline-header {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}

.timeline-header__title {
  color: #fff;
  font-size: 46px;
  font-weight: bold;
  margin: 0;
}

.timeline-header__subtitle {
  color: rgb(255, 255, 255);
  font-size: 16px;
  letter-spacing: 5px;
  margin: 10px 0 0 0;
  font-weight: normal;
}
