.hero-title{
    font-size: 3vw;
    font-weight: 800;
}

.hero-subtitle{
    font-size: 1vw;
    font-weight: 700;
}

.hero{
    border: 0;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    border-radius: 24px 0px 24px 24px;
    background: linear-gradient(200deg, #40D1FF 13.17%, rgba(47, 79, 89, 0.02) 85%);
    margin-bottom: 30px;
    margin-top: 30px;
}

.grafico{
    color: #FFF;
    width: 380px;
    height: 260px;
    font-family: 'Poppins', sans-serif;
    border-radius: 24px;
    border: 1px solid #3E4879;
    background: #161A2C;
    background-image: url('../../imgs/Home/chart-graphic.png');
    background-repeat: no-repeat;
    background-size: cover;
}


.mapa{
    border: 0;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    border-radius: 24px;
    height: 260px;
    width: 246px;
    background-image: url('../../imgs/Home/mapa.png');
}

.stem-Title{
    font-weight: 800;
    font-size: 3vw;
}

.stem-with-us-home{
    border: 0;
    height: 260px;
    width: 246px;
    font-family: 'Poppins', sans-serif;
    border-radius: 24px;
background: linear-gradient(180deg, #55E9C5 0%, #255247 100%);
}

.sponsor-us{
    width: 370px;
    height: 260px;
    border: 0;
    color: #CAE5FE;
    font-family: 'Poppins', sans-serif;
    border-radius: 24px;
    background: linear-gradient(180deg, #78A3E3 0%, #182E4F 100%);
}

.MuiGrid-container{
    justify-content: space-evenly;
}

@media screen and (max-width: 1366px){
    .hero-title{
        font-size: 4vw;
        font-weight: 800;
    }
    
    .hero-subtitle{
        font-size: 1vw;
        font-weight: 700;
    }
}

@media screen and (max-width: 1000px){
    .hero-title{
        text-align: center;
        padding-top: 5px;
        font-size: 4vw;
    }

    .hero-subtitle{
        text-align: center;
        font-size: 3vw;
        font-weight: 700;
    }

    .astronaut{
        visibility: hidden;
    }
}

@media screen and (max-width: 768px){
    .hero-title{
        text-align: center;
        padding-top: 5px;
        font-size: 5.5vw;
    }

    .hero-subtitle{
        text-align: center;
        font-size: 3vw;
        font-weight: 700;
    }

    .astronaut{
        visibility: hidden;
    }

    .grafico{
        width: 515px;
        height: 275px;
        padding-bottom: 32px;
    }


    .sponsor-us{
        width: 515px;
        height: 218px;
        padding-bottom: 32px;
    }

    .card.MuiGrid-item{
        width: 350px;
        height: 310px;
    }
}

@media screen and (max-width: 530px){
    .card{
        max-width: 300px;
        width: 300px;
    }
}