.heapNode,
.queueManager {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.chartContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%; /* Ajustapara el gráfico */
  padding: 0 var(--padding-lg); /*sustituir con un valor si no se encuentra */
  background: var(--color-dark); 
}

.queueManager {
  margin: 0 !important;
  border-radius: var(--br-21xl);
  background-color: var(--dentro-del-glass);
  box-shadow: 0 1px 50px rgba(0, 0, 0, 0.08);
}
.heapNode {
  border-radius: var(--br-xs);
  background-color: var(--color-bisque);
}
.heapNodeWrapper,
.spo2 {
  position: relative;
  z-index: 1;
}
.heapNodeWrapper {
  height: 58px;
  flex: 1;
}
.spo2 {
  font-weight: 600;
  text-shadow: 0 0 5.6px rgba(231, 155, 56, 0.67);
}
.cousinTwiceRemovedNodes,
.stackManager {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lgi) 0 0;
}
.stackManager {
  width: 117px;
  flex-direction: row;
  padding: 0 0 var(--padding-smi);
  box-sizing: border-box;
  gap: var(--gap-base);
}
.uncleThriceRemoved {
  position: relative;
  text-shadow: 0 0 9.6px rgba(255, 160, 37, 0.57);
  z-index: 1;
}
.cousinThriceRemoved {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.auntThriceRemovedNodes,
.siblingThriceRemovedNodes {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.auntThriceRemovedNodes {
  flex-direction: column;
  padding: var(--padding-xs) 0 0;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.siblingThriceRemovedNodes {
  flex-direction: row;
  gap: var(--gap-9xs);
}
.normal {
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-mediumspringgreen-100);
  text-align: left;
}
.descendantFourTimesRemoved,
.descendantThriceRemovedNode {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.descendantFourTimesRemoved {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs) var(--padding-5xs);
  background-color: var(--color-mediumspringgreen-200);
  border-radius: var(--br-9xs);
  flex-direction: row;
  z-index: 1;
}
.descendantFourTimesRemoved:hover {
  background-color: var(--color-mediumseagreen);
}
.descendantThriceRemovedNode {
  flex-direction: column;
  gap: var(--gap-12xs);
  font-size: var(--font-size-13xl);
}
.wrapperGroup11Child {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: -11px;
  width: 100%;
  height: 100%;
  transform: scale(1.301);
}
.wrapperGroup11 {
  align-self: stretch;
  flex: 1;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bloodSugar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-xl) var(--padding-xs-5);
  box-sizing: border-box;
  gap: var(--gap-7xs);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-orange);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 800px) {
  .uncleThriceRemoved {
    font-size: var(--font-size-7xl);
  }
}
@media screen and (max-width: 450px) {
  .uncleThriceRemoved {
    font-size: var(--font-size-lgi);
  }
}
