.dataProcessorChild {
  width: 167px;
  display: none;
}
.bmiCalculator {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.imageAnalyzer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs-5) 0 0;
}
.mergerIcon,
.vantroi {
  position: relative;
}
.mergerIcon {
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.splitter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.dataAggregator,
.textProcessor,
.valueCalculator {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.valueCalculator {
  border-radius: var(--br-2xl);
  background-color: var(--dentro-del-glass);
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-5xl);
  gap: var(--gap-3xs);
  font-size: var(--font-size-base);
  color: var(--color-lightgray-100);
}
.dataAggregator,
.textProcessor {
  max-width: 100%;
}
.textProcessor {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.dataAggregator {
  width: 468px;
  justify-content: flex-start;
  padding: 0 var(--padding-lg);
  box-sizing: border-box;
}
.frameChild {
  height: 76px;
  width: 171px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-bisque);
  display: none;
}
.altura {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.outputNode {
  width: 50.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24.100000000000136px 7.800000000000011px 0 0;
  box-sizing: border-box;
}
.createNode,
.delayNode,
.deleteNode {
  height: 9.3px;
  width: 1.8px;
  position: relative;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-500);
  z-index: 1;
}
.createNode,
.deleteNode {
  background-color: var(--color-gray-600);
}
.createNode {
  background-color: var(--color-gray-700);
}
.arrayNode,
.constantNode,
.dictionaryNode,
.mapNode,
.updateNode,
.variableNode {
  height: 20.4px;
  width: 1.8px;
  position: relative;
  border-radius: var(--br-6xl);
  background-color: var(--color-indianred);
  z-index: 1;
}
.arrayNode,
.constantNode,
.dictionaryNode,
.mapNode,
.variableNode {
  height: 9.3px;
  background-color: var(--color-gray-200);
}
.dictionaryNode,
.mapNode {
  background-color: var(--color-gray-800);
}
.mapNode {
  background-color: var(--color-gray-900);
}
.groupNode,
.parallelNode {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.groupNode {
  flex: 1;
  gap: 9.171428571428562px;
}
.parallelNode {
  align-self: stretch;
  padding: 0 0 0 var(--padding-10xs);
}
.cm {
  width: 60px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.rectangleParent,
.returnNode {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.returnNode {
  flex: 1;
  flex-direction: column;
  gap: 3.7000000000000455px;
  font-size: var(--font-size-sm);
}
.rectangleParent {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--color-bisque);
  flex-direction: row;
  padding: 14.799999999999956px 6.399999999999977px 20.399999999999864px
    var(--padding-lg);
  gap: 6.199999999999989px;
}
.frameItem {
  height: 76px;
  width: 171px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-lightcyan);
  display: none;
}
.peso {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.pesoWrapper {
  width: 43px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24.09999999999991px 0 0;
  box-sizing: border-box;
}
.ifElseNode,
.sequenceNode,
.whileLoopNode {
  height: 9.3px;
  width: 1.8px;
  position: relative;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-500);
  z-index: 1;
}
.ifElseNode,
.whileLoopNode {
  background-color: var(--color-gray-600);
}
.whileLoopNode {
  background-color: var(--color-gray-700);
}
.breakNode,
.caseNode,
.defaultNode,
.forLoopNode,
.nestedLoopNode,
.switchNode {
  height: 20.4px;
  width: 1.8px;
  position: relative;
  border-radius: var(--br-6xl);
  background-color: var(--color-indianred);
  z-index: 1;
}
.breakNode,
.caseNode,
.defaultNode,
.nestedLoopNode,
.switchNode {
  height: 9.3px;
  background-color: var(--color-gray-200);
}
.breakNode,
.defaultNode {
  background-color: var(--color-gray-800);
}
.breakNode {
  background-color: var(--color-gray-900);
}
.groupNode1,
.parallelNode1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.groupNode1 {
  flex: 1;
  gap: 9.171428571428562px;
}
.parallelNode1 {
  align-self: stretch;
  padding: 0 0 0 var(--padding-10xs);
}
.kg {
  width: 60px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.randomNode {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.699999999999818px;
}
.sequenceNodeParent {
  flex: 1;
  flex-direction: row;
  gap: 6.199999999999989px;
  font-size: var(--font-size-sm);
}
.functionNode,
.rectangleGroup,
.sequenceNodeParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleGroup {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--color-lightcyan);
  flex-direction: row;
  padding: 14.800000000000182px 6.399999999999977px 20.40000000000009px
    var(--padding-lg);
  gap: var(--gap-sm);
}
.functionNode {
  width: 171px;
  flex-direction: column;
  gap: var(--gap-7xl);
  min-width: 171px;
}
.frameInner {
  width: 225px;
  height: 153.3px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--dentro-del-glass);
  border: 1px solid var(--color-darkslateblue);
  box-sizing: border-box;
  display: none;
}
.indiceDeMasa {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.stackNode {
  height: 26.3px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 13.300000000000182px;
  box-sizing: border-box;
}
.minHeapNode {
  height: 20px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.saludable {
  flex: 1;
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-poppins);
  color: var(--color-mediumspringgreen-100);
  text-align: center;
}
.heapNode,
.maxHeapNode {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.maxHeapNode {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs) var(--padding-5xs) var(--padding-9xs)
    var(--padding-3xs);
  background-color: var(--color-mediumspringgreen-200);
  width: 87px;
  border-radius: var(--br-5xs);
  justify-content: flex-start;
  box-sizing: border-box;
  z-index: 1;
}
.maxHeapNode:hover {
  background-color: var(--color-mediumseagreen);
}
.heapNode {
  align-self: stretch;
  justify-content: space-between;
  padding: 0 0 15.600000000000364px;
  gap: var(--gap-xl);
  font-size: var(--font-size-lgi);
}
.redBlackTreeNode {
  height: 7px;
  width: 7.2px;
  position: relative;
  border-radius: var(--br-lgi);
  background-color: var(--color-indianred);
  border: 1px solid var(--general-color-3);
  box-sizing: border-box;
  z-index: 1;
}
.aVLTreeNode {
  align-self: stretch;
  height: 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.hashTableNode {
  align-self: stretch;
  height: 11.7px;
  position: relative;
  border-radius: var(--br-2xl);
  background: linear-gradient(
    90deg,
    #0c82ed,
    #45e8d6 37.77%,
    #f0c72f 70.4%,
    #ec252c
  );
  z-index: 1;
}
.bTreeNode {
  width: 193px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.filterSorter,
.textProcessor1,
.textProcessor2,
.textProcessor3 {
  position: relative;
  z-index: 1;
}
.valueAggregator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
}
.textProcessor4 {
  position: relative;
  z-index: 1;
}
.listCreator,
.rectangleContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.listCreator {
  flex-direction: row;
  padding: 0 var(--padding-11xs) 0 0;
  gap: var(--gap-10xl);
  font-size: var(--font-size-4xs);
}
.rectangleContainer {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--dentro-del-glass);
  border: 1px solid var(--color-darkslateblue);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-mid) var(--padding-5xs) 17.400000000000546px
    var(--padding-base);
  gap: 6.699999999999818px;
  min-width: 146px;
  font-size: var(--font-size-smi);
  color: var(--general-color-3);
}
.iterationNode {
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-33xl);
  max-width: 100%;
}
.conditionNode,
.iterationNode,
.linkConnector {
  display: flex;
  align-items: flex-start;
}
.conditionNode {
  width: 468px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-xs);
  color: var(--color-gray-300);
}
.linkConnector {
  height: 392px;
  flex-direction: column;
  justify-content: space-between;
  min-width: 147px;
}
.fill283Icon {
  height: 408.7px;
  width: 146px;
  position: relative;
}
.dataProcessor,
.dataTransformer {
  width: 468px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-41xl) 0 var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
  font-size: var(--font-size-base);
  color: var(--color-dimgray);
}
.dataProcessor {
  width: 579px;
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  background-color: var(--color-darkgray-300);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-base) 64.30000000000018px;
  gap: var(--gap-15xl);
  min-width: 579px;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--general-color-3);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1325px) {
  .dataProcessor {
    flex: 1;
  }
}
@media screen and (max-width: 1125px) {
  .dataProcessor {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .dataTransformer {
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .dataProcessor {
    gap: 17px 34px;
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .bmiCalculator {
    font-size: var(--regular-18-size);
  }
  .textProcessor {
    flex-wrap: wrap;
  }
  .functionNode {
    flex: 1;
  }
  .iterationNode {
    flex-wrap: wrap;
    gap: 52px 26px;
  }
  .fill283Icon,
  .linkConnector {
    flex: 1;
  }
  .dataTransformer {
    flex-wrap: wrap;
  }
  .dataProcessor {
    padding-bottom: var(--padding-8xl);
    box-sizing: border-box;

  }
}
