.data-dashboard-body{
    margin-top: 50PX;
}

.tab{
    color: rgba(250, 250, 250, 0.98);
    font-family: 'poppins', 'sans-serif';
    border-radius: 12px;
    border: 1px solid #373F69;
    background: #101321;
}

.herc-map{
    width: 625px;
    height: 625px;
}

.participants{
    border-radius: 16px;
    border: 1px solid #3E4879;
    background-color:#161A2C;
    color: rgba(250, 250, 250, 0.98);
    width: 300px;
    height: 350px;
    padding-left: 25px;
    padding-top: 15px;

}

.MuiListItemText-primary{
    font-weight: 500;
    font-size: 16px;
}

.Task-List{
    border-radius: 16px;
    border: 1px solid #3E4879;
    background-color:#161A2C;
    color: rgba(250, 250, 250, 0.98);
    width: 300px;
    height: 350px;
    padding-left: 25px;
    padding-top: 15px;
}

.graph{
    margin-top: 25px;
    color: #FFF;
    width: 300px;
    height: 200px;
    font-family: 'Poppins', sans-serif;
    border-radius: 24px;
    border: 1px solid #3E4879;
    background: #161A2C;
    background-image: url('../../imgs/Home/chart-graphic.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.row1{
    margin-bottom: 20px;
}

@media screen and (max-width: 720px){
    .herc-map{
        width: 325px;
        height: 500px;
    }

    .Task-List{
        width: 350px;
    }

    .participants{
        width: 350px;
    }
}

@media screen and (max-width: 1366px){
    .graph{
        display: none;
    }   
    .participants{
        display: none;
    }
}