.data-dashboard-intro{
    padding: 50px;
    border: 0;
    color: #FFF;
    font-family: 'Poppins';
    border-radius: 24px 0px 24px 24px;
    background: linear-gradient(200deg, #608de0a4 13.17%, rgb(62, 123, 141) 85%);
    margin-bottom: 30px;
    margin-top: 30px;
}

.data-dashboard-body{
    margin-top: 50px;
    margin-bottom: 125px;
}

.tab{
    color: rgba(250, 250, 250, 0.98);
    font-family: 'Poppins';
    border-radius: 12px;
    border: 1px solid #373F69;
    background: #101321;
}

.herc-map{
    width: 325px;
    height: 260px;
    font-family: 'Poppins';

}

.participants{
    border-radius: 16px;
    border: 1px solid #3E4879;
    background-color:#161A2C;
    color: rgba(250, 250, 250, 0.98);
    width: 300px;
    height: 350px;
    padding-left: 25px;
    padding-top: 15px;
    font-family: 'Poppins';

}

.MuiListItemText-primary{
    font-weight: 500;
    font-size: 16px;
}

.crewmembers-title{
    font-weight: 700;
    text-align: center;
    font-family: 'Poppins';
}

.crewmembers-select{
    background-color: #1F264B;
}


.crewmembers{
    border-radius: 16px;
    border: 1px solid #3E4879;
    background-color:#161A2C;
    color: rgba(250, 250, 250, 0.98);
    width: 350px;
    height: 375px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 15px;
    font-family: 'Poppins';
    text-align: left;
    /* position: relative; */
}

.crewmembers-health{
    position: relative;
    text-align: center;
}

.crewmember-temperatura{
    position: absolute;
    top: 9%;
    left: 60%;
    color: #FFF;
    font-size: 24px;
    font-family: 'Poppins';
    display: flex;
    align-items: baseline;
}

.crewmember-oximetro{
    position: absolute;
    top: 33%;
    left: 60%;
    color: #FFF;
    font-size: 24px;
    font-family: 'Poppins';
    display: flex;
    align-items: baseline;
}

.crewmember-radiacion{
    position: absolute;
    top: 56%;
    left: 60%;
    color: #FFF;
    font-size: 24px;
    font-family: 'Poppins';
    display: flex;
    align-items: baseline;
}

.temperatura{
    padding-top: 10px;
    font-family: 'Poppins';
}


.environment-sneakpeek .temperatura h2{
    font-weight: 500;
    font-size: 48px;
    font-family: 'Poppins';
}


.graph{
    border-radius: 16px;
    margin-top: 25px;
    border: 1px solid #3E4879;
    background-color:#161A2C;
    color: rgba(250, 250, 250, 0.98);
    width: 350px;
    height: 280px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 15px;
    font-family: 'Poppins';
    text-align: left;
}

.graph-acceleration{
    border-radius: 16px;
    border: 1px solid #3E4879;
    background-color:#161A2C;
    color: rgba(250, 250, 250, 0.98);
    width: 350px;
    height: 375px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 15px;
    font-family: 'Poppins';
    text-align: right;
}

.graph-acceleration-grafico{
    position: relative;
    text-align: center;
}

.video-container {
    position: relative;
    overflow: hidden;
    width: 700px;
    height: 600px;
    font-family: 'Poppins';
    padding-bottom: 56.25%; /* Proporción de aspecto 16:9 (ajusta según necesites) */
    margin-bottom: 20px;
  }
  
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.environment-sneakpeek{
    padding: 15px;
    margin-top: 25px;
    color: #FFF;
    width: 350px;
    height: 280px;
    font-family: 'Poppins';
    border-radius: 24px;
    border: 1px solid #3E4879;
    background: #161A2C;
    text-align: center;
    position: relative;
    
}

.icono-temperatura{
    display: flex;
    justify-content: center;
    width: 75px;
    height: 75px;
    border-radius: 24px;
    border: 1px solid #3E4879;
    background: #336597;
    margin-right: 15px;
}

.temperatura{
    display: flex;
    flex-wrap: wrap;
}

.temperatura span{
    vertical-align: super;
}

.row1{
    margin-bottom: 20px;
}

@media screen and (max-width: 1535px){
    .video-container{
        width: 1200px;
        height: 500px;

    }

    .crewmembers, .graph, .graph-acceleration, .participants, .environment-sneakpeek{
        width: 415px;
    }

    .herc-map{
        width: 390px;
        height: 275px;
    }

    

    .environment-sneakpeek h4{
        font-size: 32px;
    }

    .environment-sneakpeek .temperatura h2{
        font-size: 92px;
    }

    .graph, .environment-sneakpeek{
        height: 300px;
    }

    .temperatura{
        padding-top: 15px;
    }

    .icono-temperatura{
        width: 35%;
        height: 125px;
    }
    
}

@media screen and (max-width: 1400px){
    .herc-map, .video-container{
        width: 1000px;
        height: 500px;

    }

    .crewmembers, .graph, .graph-acceleration, .participants, .environment-sneakpeek {
        width: 415px;
    }

    .herc-map{
        width: 390px;
        height: 275px;
    }

    

    .environment-sneakpeek h4{
        font-size: 32px;
    }

    .environment-sneakpeek .temperatura h2{
        font-size: 92px;
    }

    .graph, .environment-sneakpeek{
        height: 300px;
    }

    .temperatura{
        padding-top: 15px;
    }

    .icono-temperatura{
        width: 35%;
        height: 125px;
    }
}

@media screen and (max-width: 1000px){
    .herc-map, .video-container{
        width: 700px;
        height: 400px;
        display: block;
    }
    .environment-sneakpeek, .participants{
        display: block;
    }
    .herc-map{
        width: 390px;
        height: 275px;
    }
}

@media screen and (max-width: 720px){
    .herc-map, .video-container{
        width: 500px;
        height: 200px;
    }

    .crewmembers, .participants, .graph, .graph-acceleration, .environment-sneakpeek{
        width: 350px;
    }

    .graph{
        padding: 10px;
        height: 275px;
    }
    .video-container {
        padding-bottom: 75%; /* Proporción de aspecto 4:3 (ajusta según necesites) */
    }
    .herc-map{
        width: 390px;
        height: 275px;
    }

}

@media screen and (max-width: 520px){
    .video-container{
        width: 350px;
        height: 200px;
    }
    .herc-map{
        width: 325px;
        height: 275px;
    }
}





