.titulo{
  font-family: 'Nazalization';
}

@font-face {
  font-family: "Nazalization";
  src: local("Nazalization"),
    url("../../fonts/nasalization-rg.otf") format("truetype");
  font-weight: bold;
}


.nav-link{
  margin-left: 5px;
}

.nav-link:hover{
  transform: scale(1.05);
}

@media screen and (max-width: 1366px){
  .nav-link{
    font-size: 14px;
    font-weight: 700;
    justify-self: center;
  }
}

@media screen and (max-width: 1200px){
  .nav-link{
    font-size: 12px;
    font-weight: 700;
  }
}