.footer{
    padding-top: 40px;
    padding-bottom: 20px;
    border-top: 2px solid rgb(255, 0, 0);
    width: 100%;
    display: flex;
    justify-content: space-between; 
    background-color: #060919;
    color: white;
    font-family: 'Poppins';
    font-size: 15px;
}

.footer h4{
    font-family: 'Poppins';
    font-weight: bold;
}

.footer-col{
    list-style: none;
}
.footer-col{
    padding-left: 2px;
}
.footer-col li{
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer-col a:hover{
    text-shadow: 0px 0px 6px rgb(255, 255, 255);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.5s ease 0s;
}

.socials {
    display: flex;
  }
  
  .socials a {
    margin-left: 25px;
    position: relative;
    overflow: hidden;
    
  }
  
  .socials a .icon {
    color: #262626;
    transition: color 0.5s, transform 0.5s;
  }
  
  .socials a:hover .icon {
    color: #fff;
  }
  
  .socials a:before {
    content: "";
    cursor: pointer;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: top 0.5s;
  }
  
  .socials a:hover:before {
    top: 0;
  }
  
  .socials a:nth-child(1):before {
    background: rgba(255, 0, 153, 0.625);
  }
  
  .socials a:nth-child(2):before {
    background: rgba(238, 85, 85, 0.625);
  }
  
  .socials a:nth-child(3):before {
    background: rgba(0, 166, 255, 0.625);
  }
  
  .socials a:nth-child(4):before {
    background: rgba(0, 0, 0, 0.625);
  }

  .socials a:nth-child(5):before {
    background: rgba(34, 67, 213, 0.625);
  }

.socials{
    margin-top: 15px;
    margin-bottom: 25px;
}

.fa-ig:hover{
    color: fuchsia;
}


.fa-fb:hover{
    color: rgb(0, 68, 214);
}

.fa-lin:hover{
    color: rgb(98, 188, 218);
}
.fa-yt:hover{
    color: red;
}
