.footer{
    margin-top: 125px;
    padding-top: 40px;
    padding-bottom: 20px;
    border-top: 2px solid rgb(60, 127, 182);
    width: 100%;
    display: flex;
    justify-content: space-between; 
    background-color: #212529;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.footer h4{
    font-family: 'Nazalization';
}

.footer-col{
    list-style: none;
}
.footer-col{
    padding-left: 2px;
}
.footer-col li{
    margin-top: 3px;
    margin-bottom: 3px;
}

.footer-col a:hover{
    color: rgb(204, 24, 24);
    padding-left: 20px;
}