@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;700;800&family=Prata&family=Raleway&display=swap');

:root{
  --body_background: rgb(235, 235, 235);
  --body_color: rgb(39, 39, 39);
}

[data-theme="dark"]{
  --body_background: #101321;
  --body_color: aliceblue;
}

body {
  color: var(--body_color);
  background-color: var(--body_background);
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: #FFF;
    text-decoration: inherit;
    font-weight: inherit;
}
