:root{
  --body_background: #161A2C;
  --body_color: aliceblue;
  font-family: 'Poppins';
}

[data-theme="dark"]{
  --body_background: rgb(235, 235, 235);
  --body_color: #161A2C; 
}

body {
  color: var(--body_color);
  background-color: var(--body_background);
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: #FFF;
    text-decoration: inherit;
    font-weight: inherit;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}